{% extends 'core/base.html' %}

{% load static %}

{% block title %}Overview{% endblock %}

{% block content %}

<!-- Cabecera -->
{% for project in projects %}
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{project.image.url}}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                <span class="section-heading-upper">{{project.title}}</span>
                <span class="section-heading"></span>
                </h2>
                <p class="mb-3">{{project.description}}
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="{{project.link}}">Read more</a>
                </div>
            </div>
        </div>
  </div>

</section>
{% endfor %}

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Arena 3v3 Matches</span>
            <span class="section-heading-lower">Join solo or as a team</span>
          </h2>
          <div class="intro-button mx-auto" style="position: relative; z-index: 10;">
            <a class="btn btn-primary btn-xl" href="{% url 'play' %}">Play</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

