{% extends "core/base.html" %}

{% block content %}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <div class="intro-text left-0 bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Trouble Logging In?</span>
                    <span class="section-heading-lower">Reset Password</span>
                </h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}