{% extends "core/base.html" %}

{% block content %}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <div class="intro-text left-0 bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Success!</span>
                    <span class="section-heading-lower">Password Change Successful</span>
                </h2>
                <p>Your password was changed successfully. You can now log in with your new password.</p>
                <p>
                    <a href="{% url 'login' %}">Log in here</a>.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}