<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | TT ARENA</title>
</head>
<body>
    <h1> TT ARENA </h1>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'overview' %}">Overview</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact us</a></li>
    </ul>
    {% block content %}{% endblock %}
</body>
</html>