{% extends 'core/base.html' %}

{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-innerv text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Placeholder title</span>
            <span class="section-heading-lower">Placeholder title</span>
          </h2>
          <p class="mb-0">
            <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'core/img/about-bg.jpg' %}" alt="">
          </p>
          <p class="mb-0 mbt">
            Placeholder text for the blog entries.
          </p>
          <p class="mb-0 mbt">
            <span class="section-heading-under">Published by <em><b>Mod</b></em> at <em><a href="#" class="link">General</a>, <a href="#" class="link">News</a></em></span>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}


    