{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block background %}{% load  static %}{% static 'core/img/carnage-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contact</h1>
<span class="subheading">TT Arena</span>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-8 col-md-10 mx-auto">
          <h2>Want to share with TTArena?</h2>
          <br>
          <p>Contact the development team at ttarena@gmail(dot)com </p>
          <p>Feel free to suggest improvements at our <a href="https://github.com/davidcuadrado/TTArena_py">GitHub repository</a></p>
        </div>
</div>
{% endblock %}
