{% extends 'core/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/home-bg.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">The Tabletop WoW Arena Project</span>
          <span class="section-heading-lower">Join the battle</span>
        </h2>
        <p class="mb-3">Welcome to TT Arena – a turn-based, tactical online game inspired by the epic battles of World of Warcraft and the strategic depth of tabletop RPGs.
          Jump into arena matches where timing, positioning and clever use of abilities determine victory.
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="{% url 'play' %}">Play</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Arena 3v3 Matches</span>
            <span class="section-heading-lower">Join solo or as a team</span>
          </h2>
          <p class="mb-0">Get matched with other players or join as a team. Fight for victory and glory.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}