{% extends 'core/base.html' %}

{% load static %}

{% block title %}Services{% endblock %}

{% block content %}
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex mr-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">Support TT Arena</span>
            <span class="section-heading-lower">Join our Patreon</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'core/img/patreon.jpg' %}" alt="">
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">Help us keep the project running by contributing on paying the bills. </p>
        </div>
        <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="https://patreon.com">Go to Patreon</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex mr-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">Join the community</span>
            <span class="section-heading-lower">Check what is new on Reddit</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'core/img/reddit.jpg' %}" alt="">
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">Share your best plays, help other players or ask any doubts regarding TT Arena</p>
        </div>
        <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="https://reddit.com">Go to Reddit</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex mr-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">Placeholder title</span>
            <span class="section-heading-lower">Placeholder title</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'core/img/placeholder.jpg' %}" alt="">
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">Placeholder text for more services.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}